<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Inscription</display-name>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>amine.Inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/Inscription</url-pattern>
  </servlet-mapping>
  <display-name>GestionDeProjet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>amine.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Project</display-name>
    <servlet-name>Project</servlet-name>
    <servlet-class>amine.Project</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Project</servlet-name>
    <url-pattern>/Project</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>projects</display-name>
    <servlet-name>projects</servlet-name>
    <servlet-class>amine.projects</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>projects</servlet-name>
    <url-pattern>/projects</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTache</display-name>
    <servlet-name>UpdateTache</servlet-name>
    <servlet-class>amine.UpdateTache</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTache</servlet-name>
    <url-pattern>/UpdateTache</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerTache</display-name>
    <servlet-name>SupprimerTache</servlet-name>
    <servlet-class>amine.SupprimerTache</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerTache</servlet-name>
    <url-pattern>/SupprimerTache</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProject</display-name>
    <servlet-name>AddProject</servlet-name>
    <servlet-class>amine.AddProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProject</servlet-name>
    <url-pattern>/AddProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTache</display-name>
    <servlet-name>AddTache</servlet-name>
    <servlet-class>amine.AddTache</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTache</servlet-name>
    <url-pattern>/AddTache</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierTache</display-name>
    <servlet-name>ModifierTache</servlet-name>
    <servlet-class>amine.ModifierTache</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierTache</servlet-name>
    <url-pattern>/ModifierTache</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>amine.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>